@model Art_Touch.ViewModels.HeroImageViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Upload Hero Image</h2>

<form asp-action="CreateHeroImage" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label>Select Image</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
